<div id="bg_layer"></div>
<div class="container-fluid">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <div id="nav">
    <h3>Задачи</h3>
    <div class="reveal">
      <h3>+</h3>
    </div>
    <div class="help">
      <h4>?</h4>
      <!-- hidden help (display:none) -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="tasks">

      <h6>Семья</h6><hr>
        <ul>
          <% @todos.order(:id).each do |todo| %>
                <% if todo.project.id == 1 then %>
                  <% if todo.isComplete == true then %>
                    <li>
                      <div class="completed">
                        <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                          <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                          <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                        <% end %>
                      </div>
                    </li>
                  <% else %>
                    <li>
                      <div class="uncompleted">
                        <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                          <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                          <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                        <% end %>
                      </div>
                    </li>
              <% end %>
            <% end %>
        <% end %>
        </ul>
      </div>
    </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="tasks">
    <h6>Работа</h6><hr>
    <ul>
      <% @todos.order(:id).each do |todo| %>
            <% if todo.project.id == 2 then %>
              <% if todo.isComplete == true then %>
                <li>
                  <div class="completed">
                    <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                      <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                      <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                    <% end %>
                  </div>
                </li>
              <% else %>
                <li>
                  <div class="uncompleted">
                    <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                      <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                      <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                    <% end %>
                  </div>
                </li>
          <% end %>
        <% end %>
    <% end %>
    </ul>
    </div>
  </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="tasks">
      <h6>Прочее</h6><hr>
      <ul>
        <% @todos.order(:id).each do |todo| %>
              <% if todo.project.id == 3 then %>
                <% if todo.isComplete == true then %>
                  <li>
                    <div class="completed">
                      <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                        <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                        <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                      <% end %>
                    </div>
                  </li>
                <% else %>
                  <li>
                    <div class="uncompleted">
                      <%= form_with(model: todo, local: true, :html => {:id=>'form2'}) do |form2| %>
                        <%= form2.check_box :isComplete,{:class=>'icheck-me', :'data-skin'=>"square", :"data-color"=>"blue"} %>
                        <%= link_to todo.text, todo, method: :delete, data: {confirm: "Вы действительно хотите удалить задачу?"} %>
                      <% end %>
                    </div>
                  </li>
            <% end %>
          <% end %>
      <% end %>
      </ul>
      </div>
    </div>
  </div>

  <div class="new_task">
    <%= render 'form', todo: @todo %>
  </div>
</div>

<div id="greeting">
  <h6 text-align: left> Добро пожаловать на TODO-Сайт</h6>
  <p text-align:justify > Управление:<br>Нажатие на ЧекБокс - выполнить таск;<br>
     Нажатие на саму задачу - ее удаление;<br>
     Плюс справа - Добавить новую задачу</p>
  <h5 >Нажмите сюда, чтобы выйти из подсказок управления</h5>
</div>
